#opps{
    background-color: rgb(71, 79, 87);
    color: peru;
    width: 320px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
img{
    width: 350px;
    margin-top: 20px;
    margin-left: 20px;
}